@import "../../styles/global-styles.scss";
.todo-list-page-container {
  padding: 24px;
  .todo-list-page-title {
    font-weight: bold;
    text-align: center;
    font-size: $large-font-size;
    font-family: $default-font-family;
  }
  .todo-control-container {
    margin: 16px 0px;
    text-align: center;
    input {
      margin-right: 8px;
    }
    button {
      margin-left: 8px;
      font-size: $medium-font-size;
      font-family: $default-font-family;
    }
  }
}
