// colors
$bright-red: rgb(255, 61, 27);
$deep-blue: rgb(30, 30, 238);
$light-pink: rgb(255, 232, 236);
// fonts
$default-font-family: arial, helvetica;
$large-font-size: 24px;
$medium-font-size: 18px;
$small-font-size: 12px;
